{% extends "layout.html" %}
{% block content %}

<div class="jumbo">
	<h1>Search For a Policy!</h1>
</div>
<br/>

    <form action="" method="POST" >

        <label for="policy_num">Policy Number</label>
        <input type="text" id="policy_num" name="policy_num" value="{{ policy_number }}" />

        <label for="date">Date</label>
        <input type="datetime" id="date" name="date" value="{{ date_posted }}" />

        <input type="submit" val="Search" />
    </form>
    <br/>
    <br/>

    <div class="container">

        <table border="1">
            <caption>Invoices: {{ message }}</caption>
            <tr>
                <th>Bill Date</th>
                <th>Due Date</th>
                <th>Cancel Date</th>
                <th>Amount Due</th>
            </tr>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.bill_date }}</td>
                <td>{{ invoice.due_date }}</td>
                <td>{{ invoice.cancel_date }}</td>
                <td>{{ invoice.amount_due }}</td>
            </tr>
            {% endfor %}
        </table>
    <br/>
    <br/>
        <table border="1">
            <caption>Payments</caption>
            <tr>
                <th>Date Made</th>
                <th>Amount Paid</th>
            </tr>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.transaction_date }}</td>
                <td>{{ payment.amount_paid }}</td>
            </tr>
            {% endfor %}

        </table>
    <br/>
    <br/>

    <h3>Balance: {{ balance }}</h3>


    </div>

{% endblock %}
