{% extends "layout.html" %}
{% block content %}

<div class="jumbo">
	<h1>Search For a Policy!</h1>

    <p class="center">
        <a href="/policies">View all Policies</a> 
    </p>
<!--    <p class="center">
        <a href="/newpolicy">Make a New Policy</a>
    </p> -->
</div>

<br/>

<div class="container">
    <h3>Enter a Policy Number and a Date to view invoices and payments.</h3>

    <form action="/" method="POST" >

        <label for="policy_num">Policy Number</label>
        <input type="text" id="policy_num" name="policy_num" value="{{ policy_number }}" />

        <label for="date">Date (yyyy-mm-dd)</label>
        <input type="datetime" id="date" name="date" value="{{ date_posted }}" />

        <input type="submit" value="Search" />
    </form>
</div>
    <br/>
    <br/>

    <div class="container">

    {% if invoices %}
        <table>
            <caption>Invoices: {{ message }}</caption>
            <tr>
                <th>Bill Date</th>
                <th>Due Date</th>
                <th>Cancel Date</th>
                <th>Amount Due</th>
            </tr>
            {% for invoice in invoices %}
            <tr>
                <td>{{ invoice.bill_date }}</td>
                <td>{{ invoice.due_date }}</td>
                <td>{{ invoice.cancel_date }}</td>
                <td>{{ invoice.amount_due }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <h4><em>No Invoices Found</em</h3>
    {% endif %}
    <br/>
    <br/>

    {% if payments %}
        <table>
            <caption>Payments</caption>
            <tr>
                <th>Date Made</th>
                <th>Amount Paid</th>
            </tr>
            {% for payment in payments %}
            <tr>
                <td>{{ payment.transaction_date }}</td>
                <td>{{ payment.amount_paid }}</td>
            </tr>
            {% endfor %}

        </table>
    {% else %}
        <h4><em>No Payments Found</em></h3>
    {% endif %}
    <br/>
    <br/>

    <h3>Balance: {{ balance }}</h3>

    </div>

{% endblock %}
